# Игнорируем исходные данные, но они будут версионироваться через DVC
data/raw/
data/processed/

# Но НЕ игнорируем DVC-файлы!
!data/raw/*.dvc
!data/processed/*.dvc

# Остальное из предыдущего шага
__pycache__/
*.pyc
.env
venv/
*.pkl
*.joblib
.ipynb_checkpoints/
*.csv