# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
dist/
build/
venv/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Data files (original data files - ignored)
data/raw/*.csv
data/processed/*.csv
models/*.pkl
models/*.joblib
models/*.h5

# DVC cache (but NOT .dvc files!)
.dvc/tmp/
.dvc/cache/

# MLflow
mlruns/

# Logs
*.log
# Тесты
.coverage
.coverage.*
htmlcov/
.pytest_cache/
*.pyc
__pycache__/

# Докер
california-housing-ml.tar